{% extends "CodeRequester/base.html" %}
{% url "code_req.request" as request_url %}

{% block content_body %}
    <form class="ui error form segment" action="{{ request_url }}" method="post" id="redeem-form">
        {% csrf_token %}
        {% if form.email.errors %}
            <div class="ui error message">
                <div class="header">Error in you email</div>
                {% for error in  form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="field">
            <input id="{{ form.email.id_for_label }}"
                   name="{{ form.email.html_name }}"
                   type="email"
                   placeholder="Enter your email here"/>
        </div>
        <div class="form-action">
            <button class="ui blue submit button" type="submit">Get Your Code!</button>
        </div>
    </form>
{% endblock %}
